{% extends 'main/base.html' %}


{% block extra_css %}
<style>

    iframe {
        aspect-ratio: 16 / 9;
        width: 100% !important;
    }
    
    /* Ваші стилі для форми логіну */
    .article-container {
        
        margin-top: 100px;
        
    }

    /* Ваші стилі для форми логіну */
    .content-container {
        
        margin-top: 10px;
        
    }

    /* Ваші стилі для форми логіну */
    .cards-conteiner {
        
        margin-top: 10px;
        
    }

    .jumbotron {
        background: linear-gradient(to right, #000000, #f5916f); /* Градієнт від чорного до темно-сірого */
    }

    .body {
        background-color: #fff;
    }
</style>

{% endblock %}

{% block content %}
<body>
    

<div class="article-container">

    <div class="container">

        <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
            <div class="row">
                <div class="col-md-6 px-0">
                    <h1 class="display-4 font-italic">Ручний гранатомет АТ-4.</h1>
                    <p class="lead my-3">Як ручні гранатомети здатні зупиняти техніку при наступі. Коли ворожа техніка атакує піхотні підрозділи або позиції, оператори гранатометів АТ-4 можуть швидко відреагувати, наносячи точні удари по цілях з великою швидкістю та точністю.

                    </p>
                </div>
                <div class="col-md-6 d-flex justify-content-center align-items-center">
                    <img src="/media/samples/pf_logo_bg.png" alt="Логотип" style="height: 400px;">
                </div>
            </div>
        </div>
        
        
        
        
        

        

        <main role="main" class="content-container">
        <div class="row">
            <div class="col-md-8 blog-main">
            <h3 class="pb-3 mb-4 font-italic border-bottom">
                
            </h3>

            

            

            <div class="blog-post">  
                <p class="blog-post-meta">19 Травня. Автор: <a href="https://www.linkedin.com/in/danylo-petrusenko-73b872208/"> decadent</a></p>
                <h2 class="blog-post-title">Причина появи на полі бою</h2>
                

                <p>Історія виникнення гранатомета АТ-4 пов'язана з початком холодної війни і потребою в удосконаленні протитанкової зброї. Розробка цієї системи почалася у 1970-х роках в Швеції, коли з'явилася необхідність у більш ефективній та портативній антитанковій зброї для військових підрозділів. Компанія Saab Bofors Dynamics зайнялася цим завданням і після кількох років розробки випустила першу модель АТ-4 у 1980 році.                </p>
                <figure class="figure">
                    <img src="https://www.japantimes.co.jp/uploads/imported_images/uploads/2022/08/np_file_178855.jpeg" class="figure-img img-fluid rounded custom-figure" width="900" height="200" alt="A generic square placeholder image with rounded corners in a figure.">
                    <figcaption class="figure-caption text-center">АТ-4 на позиції українського військового.</figcaption>
                </figure>
                
                
                

                <p>Перші модифікації гранатомета були успішно випробувані та введені на озброєння військ. Протягом наступних десятиліть система пройшла кілька модернізацій і покращень, щоб відповідати змінюваним потребам військ та сучасним умовам бойових дій. Сьогодні гранатомет АТ-4 залишається однією з ключових складових укомплектування багатьох армій світу і використовується як для ведення оборони, так і для атаки на броньовані цілі.                </p>
                
                
               
                <hr>
                <h2 class="blog-post-title">Загальний опис</h2>

                
                <p>Гранатомет АТ-4 здатен ефективно боротися з броньованими цілями, такими як легкі танки, бронетранспортери та інша бронетехніка. Його компактність і портативність роблять його ідеальним для використання у міських умовах або в умовах обмеженого простору, де важко маневрувати більшими протитанковими системами.             </p>
                
                <p>Будучи одноразовим зразком, він не вимагає перезарядки і може бути швидко використаний в бойовій ситуації.                </p>
                <p>Гранатомет АТ-4 також відомий своєю надійністю та простотою у використанні. Його конструкція дозволяє навіть невеликим військовим одиницям здійснювати ефективну протитанкову оборону без необхідності спеціалізованих навичок або тривалої підготовки. Це робить його популярним в багатьох арміях світу, які шукають прості та ефективні засоби протидії броні.                </p>
                


                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/QPWIyOAU8dM" width="730" height="310" > </iframe>
                </div>
                <hr>

                <h2 class="blog-post-title">Характеристики</h2>
 
                <p>Гранатомет АТ-4 має вбудований гідродинамічний запал, що дозволяє йому проникати через броню противника та наносити значні пошкодження. Його проста у використанні система забезпечує швидке встановлення та прицілювання, що робить його ідеальним для стрільби на короткі відстані в умовах активного бойового дійства. Хоча його діапазон дій обмежений порівняно з важчими протитанковими системами, він все одно відіграє важливу роль у бойових операціях.                </p>
                
                <figure class="figure">
                    <img src="https://www.19fortyfive.com/wp-content/uploads/2022/05/AT-4.jpg" class="figure-img img-fluid rounded custom-figure" width="900" height="200" alt="A generic square placeholder image with rounded corners in a figure.">
                    <figcaption class="figure-caption text-center">Момент пострілу з гранатомету АТ-4.</figcaption>
                </figure>
                <p>Гранатомет АТ-4 також може використовуватися для знищення укріплень та інших об'єктів, які вимагають значної вогневої потужності для зруйнування. Його легкість і компактність роблять його привабливим варіантом для транспортування та використання в умовах, коли швидкість та мобільність важливі.                </p>

                <p>
                    <ul>
                        <li>Калібр: 84 мм.                        </li>
                        <li>Діапазон стрільби: Від 20 до 300 метрів.                        </li>
                        <li>Вага без боєприпасів: Приблизно 6,7 кілограма.                        </li>
                        <li>Система запалу: Гідродинамічний запал.                        </li>
                        <li>Призначення: Протитанкова зброя для знищення броньованих цілей.                        </li>
                    </ul>
                </p>

                <figure class="figure">
                    <img src="https://www.inetres.com/gp/military/infantry/antiarmor/AT4/AT4_2.gif" class="figure-img img-fluid rounded custom-figure" width="900" height="200" alt="A generic square placeholder image with rounded corners in a figure.">
                    <figcaption class="figure-caption text-center">Вигляд пускової труби АТ-4.</figcaption>
                </figure>


                
                <h2 class="blog-post-title">Інструкція з використання                </h2>
                <p>Перед використанням гранатомета АТ-4 оператор повинен також перевірити стан зброї, включаючи її цілісність та наявність несправностей. Необхідно переконатися, що прицільний прилад коректно встановлений і налаштований, а також що боєприпаси встановлені правильно. </p>
                
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/9I2lZ8-EFik" width="730" height="310" > </iframe>
                </div>
                <p>Після використання гранатомета АТ-4 необхідно вести облік витрати боєприпасів та повідомити вищих посадових осіб про потребу у поповненні запасів.                </p>
                
                
                <hr>
                
                





                
                <p></p>
                <p></p>
                <p></p>


            </div>




            




            

            <div class="blog-post">
                

            
                <div class="cards-conteiner">
                    <div class="row mb-2">
                        <div class="col-md-6">
                            <div class="card" style="width: 20rem; margin-bottom: 10px;">
                                <img src="https://mil.in.ua/wp-content/uploads/2022/06/FUaPQhwWIAIm50L.jpg" class="card-img-top" style="height: 160px;" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Пройдіть короткий курс по використанню гранатомета АТ-4. Вас швидко навчать основам підготовки та прицілювання.
                                    <br>
                                    <br>
                                    </p>
                                    <a class="btn btn-primary" style="width: 100px;" href="#">Перейти</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card" style="width: 20rem;">
                                <img src="https://www.stripes.com/incoming/dmksv5-5651767.jpg/alternates/LANDSCAPE_910/5651767.jpg" class="card-img-top" style="height: 160px;" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Долучайся до тренінгу Saab Bofors Dynamics. Разом з командою розробників пройдіть спецалізований курс по бойовому застосуванню.</p>
                                    <a class="btn btn-primary" style="width: 100px;" href="#">Перейти</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                

            <nav class="blog-pagination" style="margin-top: 30px;">
                <a class="btn btn-primary" href="#">До попередньої</a>
                <a class="btn btn-primary" href="#">Наступна</a>
            </nav>

            </div><!-- /.blog-main -->

            

        </div><!-- /.row -->


        <aside class="col-md-4 blog-sidebar">
            <div class="p-3 mb-3 bg-light rounded">
                <h4 class="font-italic">Дисклеймер</h4>
                <p class="mb-0">Поділимось порадами щодо бойового застосування АТ-4.</p>
            </div>

            <div class="p-3">
                <h4 class="font-italic">Архів</h4>
                <ol class="list-unstyled mb-0">
                    <li><a href="#">Березень 2014</a></li>
                    <li><a href="#">Лютий 2014</a></li>
                    <li><a href="#">Січень 2014</a></li>
                    <li><a href="#">Грудень 2013</a></li>
                    <li><a href="#">Листопад 2013</a></li>
                    <li><a href="#">Жовтень 2013</a></li>
                    <li><a href="#">Вересень 2013</a></li>
                    <li><a href="#">Серпень 2013</a></li>
                    <li><a href="#">Липень 2013</a></li>
                    <li><a href="#">Червень 2013</a></li>
                    <li><a href="#">Травень 2013</a></li>
                    <li><a href="#">Квітень 2013</a></li>
                </ol>
            </div>

            <div class="p-3">
                <h4 class="font-italic">Шукайте нас</h4>
                <ol class="list-unstyled">
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Facebook</a></li>
                </ol>
            </div>
            </aside><!-- /.blog-sidebar -->
        </main><!-- /.container -->

        <footer class="blog-footer">
        
        <p>
            
        </p>
        </footer>

        
    

        <svg xmlns="http://www.w3.org/2000/svg" width="200" height="250" viewBox="0 0 200 250" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="13" style="font-weight:bold;font-size:13pt;font-family:Arial, Helvetica, Open Sans, sans-serif">Thumbnail</text></svg>
    </div>

</div>
</body>
{% endblock %}