{% extends 'main/base_eng.html' %}


{% block extra_css %}
<style>

    iframe {
        aspect-ratio: 16 / 9;
        width: 100% !important;
    }
    
    /* Ваші стилі для форми логіну */
    .article-container {
        
        margin-top: 100px;
        
    }

    /* Ваші стилі для форми логіну */
    .content-container {
        
        margin-top: 10px;
        
    }

    /* Ваші стилі для форми логіну */
    .cards-conteiner {
        
        margin-top: 10px;
        
    }

    .jumbotron {
        background: linear-gradient(to right, #000000, #3dabc7); /* Градієнт від чорного до темно-сірого */
    }

    .body {
        background-color: #fff;
    }
</style>

{% endblock %}

{% block content %}
<body>
    

<div class="article-container">

    <div class="container">

        <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
            <div class="row">
                <div class="col-md-6 px-0">
                    <h1 class="display-4 font-italic">Emergency pack.</h1>
                    <p class="lead my-3">What to put in an emergency suitcase: a list of must-haves. Take care in advance so you don't regret it later. It is recommended to have an emergency suitcase in every family, but you need to pack it wisely.</p>
                </div>
                <div class="col-md-6 d-flex justify-content-center align-items-center">
                    <img src="/media/samples/pf_logo_bg.png" alt="Логотип" style="height: 400px;">
                </div>
            </div>
        </div>
        
        
        
        
        

        

        <main role="main" class="content-container">
        <div class="row">
            <div class="col-md-8 blog-main">
            <h3 class="pb-3 mb-4 font-italic border-bottom">
                
            </h3>

            

            

            <div class="blog-post">  
                <p class="blog-post-meta">May 12. Author: <a href="https://www.linkedin.com/in/danylo-petrusenko-73b872208/"> decadent</a></p>
                <h2 class="blog-post-title">An emergency suitcase - what is it and where to start</h2>
                

                <p>An emergency suitcase is a must-have for any family at any time. It will be useful to all Ukrainians, even those who are abroad. It contains the most important things in case of emergency, fire, natural disaster or military danger. You need to pack an alarming suitcase wisely so as not to overfill it with unnecessary items. </p>
                 <p>An emergency suitcase is a backpack or bag with essentials in any emergency situation. It is packed in advance in order to quickly evacuate at the right moment. First of all, such a suitcase is filled with copies of documents, clean clothes, medicines, hygiene products, water and food for long storage.</p>
                 <p>You can assemble an emergency suitcase yourself or buy a ready-made one at a military store. It is most convenient to use a strong backpack with a capacity of 30 liters.</p>
                <figure class="figure" >
                    <img src="https://images.unian.net/photos/2022_01/thumb_files/1200_0_1643193602-6425.jpg" class="figure-img img-fluid rounded custom-figure" width="900" height="200" alt="A generic square placeholder image with rounded corners in a figure.">
                    <figcaption class="figure-caption text-center">An emergency suitcase - a backpack.</figcaption>
                </figure>
                <hr>
                <h2 class="blog-post-title">Emergency suitcase: What to put in</h2>
                
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/NDDcwUb7Wtc" width="730" height="310" > </iframe>
                </div>
                
                <br>
                
                <ul>
                    <li>Copies of documents. Make copies of your passport, car licenses, real estate documents, children's documents and others in advance. </li>
                     <li>Duplicate house and car keys. </li>
                     <li>Money - be sure to put cards or cash. </li>
                     <li>Mobile phone with charger. You can buy inexpensive phones that hold a charge for a long time. Means of communication will help to stay abreast of events for a certain time. </li>
                     <li>Lantern with batteries.</li>
                     <li>Mechanical clock - to always know the current time. </li>
                     <li>Tools - multitool, tape, lighter, folding knife. </li>
                     <li>A set of needles and threads. </li>
                     <li>Utensils - a spoon, a cup, a cooking pot, a Turk. For cooking in any conditions. It is desirable that all the dishes are iron. </li>
                     <li>Hygiene products - toothpaste, brush, wet wipes, toilet paper, sanitary napkins.</li>
                     <li>Clothing. It is advisable to take things that take up little space. Put several pairs of socks and underwear, pants, sweater, gloves, hat, raincoat, comfortable shoes.</li>
                     <li>Vodka or medical alcohol. For decontamination and fire extinguishing. </li>
                     <li>A pack of condoms. They will be needed in different situations. </li>
                     <li>A minimal set of products that can be stored for a long time. Army dry rations are an ideal solution.</li>

                  </ul>

                <hr>
                <h2 class="blog-post-title">First aid kit</h2>
                
                <p>Be sure to allocate a place for a first-aid kit in the emergency backpack. In the first-aid kit, you should put medicines with proven effectiveness against the most common ailments: paracetamol, ibuprofen, activated charcoal, antipyretics, medicines against intestinal infections and diarrhea (phthalazol, immodium, etc.), poisons (Atoxyl), iodine, medical alcohol, eye or nasal drops. Also put cotton wool, bandages, adhesive plaster. Do not forget to check the expiration date of the medicine.</p>
                <figure class="figure" >
                    <img src="https://zaborona.com/wp-content/uploads/2021/12/dsc03198-scaled.jpg" class="figure-img img-fluid rounded custom-figure" width="900" height="200" alt="A generic square placeholder image with rounded corners in a figure.">
                    <figcaption class="figure-caption text-center">Речі, які варто мати в тривожній валізі.</figcaption>
                </figure>
                <p>It is highly recommended to put a medical tourniquet in the first aid kit of the emergency suitcase. It can save a life in case of an unexpected injury. Before buying, it is worth watching several videos on how to use a tourniquet correctly.               </p>
                
                <hr>
                <h2 class="blog-post-title">A supply of food for an alarming suitcase</h2>

                <figure class="figure" >
                    <img src="https://realist.online/img/article/1162/5_main-v1646054155.jpg" class="figure-img img-fluid rounded custom-figure" width="900" height="200" alt="A generic square placeholder image with rounded corners in a figure.">
                    <figcaption class="figure-caption text-center">An example of the contents of an alarming suitcase.</figcaption>
                </figure>


                <p>Do not forget to put drinking water in your suitcase, as well as food with a long shelf life and high calories that do not require cooking. These can be canned fish and meat, dried meat ("jerky"), cookies, soup sets, condensed milk, chocolate, chocolate and cereal bars. Cans should be taken with a key for easy opening.         </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/wJ6n7sTuQjE" width="730" height="310" > </iframe>
                </div>


                <hr>


                
                
                
                

            </div>




            




            

            <div class="blog-post">
                

            
                <div class="cards-conteiner">
                    <div class="row mb-2">
                        <div class="col-md-6">
                            <div class="card" style="width: 20rem; margin-bottom: 10px;" >
                                <img src="https://cdn4.suspilne.media/images/resize/600x1.78/44a92265f65aab5e.jpg" class="card-img-top" style="height: 160px;" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Watch a short video where a survival expert explains the importance of preparing an emergency kit.</p>
                                    
                                    
                                    <a class="btn btn-primary" style="width: 100px;" href="https://www.youtube.com/watch?v=vN10z46Xy-Y">More...</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card" style="width: 20rem;">
                                <img src="https://vn.20minut.ua/img/cache/reference/news/0025/92/2491406-scho-mae-buti-v-trivozhniy-valizi-rozpovidayut-vinnitski-fahivtsi.jpeg?hash=2022-01-26-18-24-36" class="card-img-top" style="height: 160px;" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Take practical training on collecting necessary things in your city.</p>
                                    <br>
                                    
                                    <a class="btn btn-primary" style="width: 100px;" href="https://www.forbes.com/sites/craighooper/2023/06/18/ukraine-shows-the-fight-to-make-the-bradley-ifv-safer-was-worth-it/?sh=53982fad4472">More...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                

            <nav class="blog-pagination" style="margin-top: 30px;">
                <a class="btn btn-primary" href="#">Previous</a>
                <a class="btn btn-primary" href="#">Next</a>
            </nav>

            </div><!-- /.blog-main -->

            

        </div><!-- /.row -->


        <aside class="col-md-4 blog-sidebar">
            <div class="p-3 mb-3 bg-light rounded">
                <h4 class="font-italic">Disclaimer</h4>
                <p>#alarmload #safety #civilian #necessary #important</p>
                <p class="mb-0">#alarmload #safety #civilian #necessary #important</p>
            </div>
            

            <div class="p-3">
                <h4 class="font-italic">Архів</h4>
                <ol class="list-unstyled mb-0">
                    <li><a href="#">March 2014</a></li>
                    
                     <li><a href="#">February 2014</a></li>
                     <li><a href="#">January 2014</a></li>
                     <li><a href="#">December 2013</a></li>
                     <li><a href="#">November 2013</a></li>
                     <li><a href="#">October 2013</a></li>
                     <li><a href="#">September 2013</a></li>
                     <li><a href="#">August 2013</a></li>
                     <li><a href="#">July 2013</a></li>
                     <li><a href="#">June 2013</a></li>
                     <li><a href="#">May 2013</a></li>
                     <li><a href="#">April 2013</a></li>
                </ol>
            </div>

            <div class="p-3">
                <h4 class="font-italic">Follow us on:</h4>
                <ol class="list-unstyled">
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Facebook</a></li>
                </ol>
            </div>
            </aside><!-- /.blog-sidebar -->
        </main><!-- /.container -->

        <footer class="blog-footer">
        
        <p>
            
        </p>
        </footer>

        
    

        <svg xmlns="http://www.w3.org/2000/svg" width="200" height="250" viewBox="0 0 200 250" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="13" style="font-weight:bold;font-size:13pt;font-family:Arial, Helvetica, Open Sans, sans-serif">Thumbnail</text></svg>
    </div>

</div>
</body>
{% endblock %}