{% extends 'main/base.html' %}


{% block extra_css %}
<style>

    iframe {
        aspect-ratio: 16 / 9;
        width: 100% !important;
    }
    
    /* Ваші стилі для форми логіну */
    .article-container {
        
        margin-top: 100px;
        
    }

    /* Ваші стилі для форми логіну */
    .content-container {
        
        margin-top: 10px;
        
    }

    /* Ваші стилі для форми логіну */
    .cards-conteiner {
        
        margin-top: 10px;
        
    }

    .jumbotron {
        background: linear-gradient(to right, #000000, #3dabc7); /* Градієнт від чорного до темно-сірого */
    }

    .body {
        background-color: #fff;
    }
</style>

{% endblock %}

{% block content %}
<body>
    

<div class="article-container">

    <div class="container">

        <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
            <div class="row">
                <div class="col-md-6 px-0">
                    <h1 class="display-4 font-italic">Тривожна валіза.</h1>
                    <p class="lead my-3">Що покласти в тривожну валізку: список обов'язкових речей. Попіклуйтесь наперед, аби не шкодувати потім. Тривожну валізу рекомендується мати в кожній родині, але збирати її потрібно з розумом.</p>
                </div>
                <div class="col-md-6 d-flex justify-content-center align-items-center">
                    <img src="/media/samples/pf_logo_bg.png" alt="Логотип" style="height: 400px;">
                </div>
            </div>
        </div>
        
        
        
        
        

        

        <main role="main" class="content-container">
        <div class="row">
            <div class="col-md-8 blog-main">
            <h3 class="pb-3 mb-4 font-italic border-bottom">
                
            </h3>

            

            

            <div class="blog-post">  
                <p class="blog-post-meta">12 Травня. Автор: <a href="https://www.linkedin.com/in/danylo-petrusenko-73b872208/"> decadent</a></p>
                <h2 class="blog-post-title">Тривожна валіза - що це таке та з чого почати</h2>
                

                <p>Тривожна валіза - обов'язкова річ у будь-якій сім'ї та у будь-який час. Він стане у пригоді всім українцям, навіть тим, хто перебуває за кордоном. У ньому містяться найважливіші речі у разі надзвичайної ситуації, пожежі, природного лиха чи військової небезпеки. Збирати тривожну валізу потрібно з розумом, щоб не переповнити її непотрібними предметами.                </p>
                <p>Тривожна валіза - це рюкзак або сумка з речами першої необхідності у будь-якій надзвичайній ситуації. Його упаковують заздалегідь, щоб швидко евакуюватись у потрібний момент. Насамперед таку валізу наповнюють копіями документів, чистим одягом, ліками, засобами гігієни, водою та їжею довгого зберігання.</p>
                <p>Зібрати тривожну валізу можна самостійно або купити готову у військовому магазині. Найзручніше використовувати міцний рюкзак місткістю 30 л.</p>
                <figure class="figure" >
                    <img src="https://images.unian.net/photos/2022_01/thumb_files/1200_0_1643193602-6425.jpg" class="figure-img img-fluid rounded custom-figure" width="900" height="200" alt="A generic square placeholder image with rounded corners in a figure.">
                    <figcaption class="figure-caption text-center">Тривожна валіза - рюкзак.</figcaption>
                </figure>
                <hr>
                <h2 class="blog-post-title">Тривожна валіза: що покласти</h2>
                
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/NDDcwUb7Wtc" width="730" height="310" > </iframe>
                </div>
                
                <br>
                <ul>
                    <li>Копії документів. Заздалегідь зробіть копії паспорту, автомобільних прав, документів на нерухомість, дитячих документів та інших.                    </li>
                    <li>Дублікати ключів від дому та автомобіля.                    </li>
                    <li>Гроші - обов'язково покладіть карти чи готівку.                    </li>
                    <li>Мобільний телефон з зарядним пристроєм. Можна купити недорогі телефони, які довго тримають заряд. Засоби зв'язку допоможуть бути в курсі подій певний час.                    </li>
                    <li>Ліхтар з батарейками.</li>
                    <li>Механічний годинник - щоб завжди знати актуальний час.                    </li>
                    <li>Інструменти - мультитул, скотч, запальничка, складаний ніж.                    </li>
                    <li>Набір голок та ниток.                    </li>
                    <li>Посуд - ложка, чашка, похідний казанок, турка. Для приготування їжі в будь-яких умовах. Бажано, щоб весь посуд був залізним.                    </li>
                    <li>Засоби гігієни - зубна паста, щітка, вологі серветки, туалетний папір, жіночі прокладки.</li>
                    <li>Одяг. Бажано брати речі, які займають мало місця. Покладіть кілька пар шкарпеток та спідньої білизни, штани, светр, рукавиці, шапку, плащ-дощовик, зручне взуття.</li>
                    <li>Горілка чи медичний спирт. Для обеззаражування та розведення вогню.                    </li>
                    <li>Пачка презервативів. Знадобляться в різних ситуаціях.                    </li>
                    <li>Мінімальтний набір продуктів, що можуть довго зберігатись. Армійський сухий пайок - ідеальне рішення.</li>

                  </ul>

                <hr>
                <h2 class="blog-post-title">Тривожна валіза: що покласти</h2>
                
                <p>Обов'язково виділіть у тривожному рюкзаку місце для аптечки. В аптечку варто покласти ліки з доведеною ефективністю проти найпоширеніших недуг: парацетамол, ібупрофен, активоване вугілля, жарознижувальні засоби, ліки проти кишкової інфекції та діареї (фталазол, іммодіум тощо), засоби від отруєння (атоксил), йод, медичний спирт, очні чи назальні краплі. Також покладіть вату, бинти, лейкопластир. Не забудьте перевірити термін придатності ліків.</p>
                <figure class="figure" >
                    <img src="https://zaborona.com/wp-content/uploads/2021/12/dsc03198-scaled.jpg" class="figure-img img-fluid rounded custom-figure" width="900" height="200" alt="A generic square placeholder image with rounded corners in a figure.">
                    <figcaption class="figure-caption text-center">Речі, які варто мати в тривожній валізі.</figcaption>
                </figure>
                <p>Дуже рекомендується покласти в аптечку тривожної валізи медичний турнікет. Він може врятувати життя у разі непередбаченого поранення. Перед покупкою варто переглянути кілька відео про те, як правильно застосовувати турнікет.                </p>
                
                <hr>
                <h2 class="blog-post-title">Запас їжі для тривожної валізи</h2>

                <figure class="figure" >
                    <img src="https://realist.online/img/article/1162/5_main-v1646054155.jpg" class="figure-img img-fluid rounded custom-figure" width="900" height="200" alt="A generic square placeholder image with rounded corners in a figure.">
                    <figcaption class="figure-caption text-center">Приклад вмісту тривожної валізи.</figcaption>
                </figure>


                <p>Не забудьте покласти у валізу питну воду, а також їжу з довгим терміном зберігання та високою калорійністю, яка не потребує приготування. Це можуть бути рибні та м'ясні консерви, сушене м'ясо ("джерки"), печиво, супові набори, згущене молоко, шоколад, шоколадні та злакові батончики. Консерви бажано брати із ключем для легкого відкривання.                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/wJ6n7sTuQjE" width="730" height="310" > </iframe>
                </div>


                <hr>


                
                
                
                

            </div>




            




            

            <div class="blog-post">
                

            
                <div class="cards-conteiner">
                    <div class="row mb-2">
                        <div class="col-md-6">
                            <div class="card" style="width: 20rem; margin-bottom: 10px;" >
                                <img src="https://cdn4.suspilne.media/images/resize/600x1.78/44a92265f65aab5e.jpg" class="card-img-top" style="height: 160px;" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Перегляньте коротке відео, де експерт з виживання пояснює необхідність готування тривожної валізи.</p>
                                    
                                    
                                    <a class="btn btn-primary" style="width: 100px;" href="https://www.youtube.com/watch?v=vN10z46Xy-Y">Перейти</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card" style="width: 20rem;">
                                <img src="https://vn.20minut.ua/img/cache/reference/news/0025/92/2491406-scho-mae-buti-v-trivozhniy-valizi-rozpovidayut-vinnitski-fahivtsi.jpeg?hash=2022-01-26-18-24-36" class="card-img-top" style="height: 160px;" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Пройдіть практичний тренінг по збору необхідних речей у свому місті.</p>
                                    <br>
                                    
                                    <a class="btn btn-primary" style="width: 100px;" href="https://www.forbes.com/sites/craighooper/2023/06/18/ukraine-shows-the-fight-to-make-the-bradley-ifv-safer-was-worth-it/?sh=53982fad4472">Перейти</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                

            <nav class="blog-pagination" style="margin-top: 30px;">
                <a class="btn btn-primary" href="#">До попередньої</a>
                <a class="btn btn-primary" href="#">Наступна</a>
            </nav>

            </div><!-- /.blog-main -->

            

        </div><!-- /.row -->


        <aside class="col-md-4 blog-sidebar">
            <div class="p-3 mb-3 bg-light rounded">
                <h4 class="font-italic">Дисклеймер</h4>
                <p>#тривожнавалізка #безпека #цивільні #необхідне #важливе</p>
                <p class="mb-0">Дамо перелік найнеобхідніших речей для збору тривожної валізи. Пояснимо аспекти вибору сумки та наповнення.</p>
            </div>
            

            <div class="p-3">
                <h4 class="font-italic">Архів</h4>
                <ol class="list-unstyled mb-0">
                    <li><a href="#">Березень 2014</a></li>
                    
                    <li><a href="#">Лютий 2014</a></li>
                    <li><a href="#">Січень 2014</a></li>
                    <li><a href="#">Грудень 2013</a></li>
                    <li><a href="#">Листопад 2013</a></li>
                    <li><a href="#">Жовтень 2013</a></li>
                    <li><a href="#">Вересень 2013</a></li>
                    <li><a href="#">Серпень 2013</a></li>
                    <li><a href="#">Липень 2013</a></li>
                    <li><a href="#">Червень 2013</a></li>
                    <li><a href="#">Травень 2013</a></li>
                    <li><a href="#">Квітень 2013</a></li>
                </ol>
            </div>

            <div class="p-3">
                <h4 class="font-italic">Шукайте нас</h4>
                <ol class="list-unstyled">
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Facebook</a></li>
                </ol>
            </div>
            </aside><!-- /.blog-sidebar -->
        </main><!-- /.container -->

        <footer class="blog-footer">
        
        <p>
            
        </p>
        </footer>

        
    

        <svg xmlns="http://www.w3.org/2000/svg" width="200" height="250" viewBox="0 0 200 250" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="13" style="font-weight:bold;font-size:13pt;font-family:Arial, Helvetica, Open Sans, sans-serif">Thumbnail</text></svg>
    </div>

</div>
</body>
{% endblock %}