{% extends 'main/base.html' %}


{% block extra_css %}
<style>
    
    /* Ваші стилі для форми логіну */
    .article-container {
        
        margin-top: 100px;
        
    }

    /* Ваші стилі для форми логіну */
    .content-container {
        
        margin-top: 10px;
        
    }

    /* Ваші стилі для форми логіну */
    .cards-conteiner {
        
        margin-top: 10px;
        
    }

    .jumbotron {
        background: linear-gradient(to right, #000000, #ff0000); /* Градієнт від чорного до темно-сірого */
    }

    .body {
        background-color: #fff;
    }
</style>

{% endblock %}

{% block content %}
<body>
    

<div class="article-container">

    <div class="container">

        <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
            <div class="col-md-6 px-0">
                <h1 class="display-4 font-italic">FPV Drones: The Weapon That Changed Modern Warfare</h1>
                
                <p class="lead my-3">The massive use of FPV drones in combat operations between Ukrainian and Russian forces has radically changed the picture of modern warfare.</p>
            </div>
        </div>
        
        
        

        

        <main role="main" class="content-container">
        <div class="row">
            <div class="col-md-8 blog-main">
            <h3 class="pb-3 mb-4 font-italic border-bottom">
                
            </h3>

            

            

            <div class="blog-post">
                <h2 class="blog-post-title">FPV drones</h2>
                <p class="blog-post-meta">January 1, 2014 by <a href="https://www.linkedin.com/in/danylo-petrusenko-73b872208/">Danylo</a></p>

                <p>Successful use of one or more cheap drones can destroy equipment worth millions of dollars. This is evidenced by many videos of the combat use of such drones at the front.</p>
                <hr>
                
                
                <p>FPV drones are called so because they are controlled due to the “first-person view” function. This is a real-time video transfer function from the camera installed at the front of the UAV. The operator controls the drone with a remote control and sees the area around the drone in real time due to special glasses, as if it were sitting inside the drone itself, similar to a pilot.</p>
                
                <figure class="figure">
                    <img src="/media/samples/fpv.jpeg" class="figure-img img-fluid rounded custom-figure" width="900" height="200" alt="A generic square placeholder image with rounded corners in a figure.">
                    <figcaption class="figure-caption text-center">Ukrainian FPV pilot minding his own business.</figcaption>
                </figure>
                

                <blockquote>
                  
                <p>This is not military equipment. Such drones in civilian life are used for entertainment, for example, in sports races. They can carry payloads, but at the same time, FPV drones do not have autopilot and fly without GPS.</p>
                 
                <p>Drones show exceptional maneuverability and are able to quickly change direction. This requires the operator to have strong skills and training levels because he has to manually control all flight processes. Drone’s characteristics depend on the specific model. Such drones are capable of reaching speeds of more than 100 kilometers per hour or even more.</p>
                
                <p>Though, in the Russian-Ukrainian war, the definition of FPV drones can be expanded: high-speed quadcopters controlled by a special headset.</p>
                
                <p>The military uses FPV drones as kamikaze drones, installing various warheads on them. One more use case is dropping munition on the enemy with the help of an FPV drone, after which the drone returns. Such drones are actively used during Russia’s war against Ukraine. In the right hands, FPV kamikaze drones are precision weapons that are capable of striking various armored vehicles and destroying enemy manpower.</p>
                
                <figure class="figure">
                    <img src="/media/samples/fpv_1.jpeg" class="figure-img img-fluid rounded custom-figure" width="900" height="200" alt="A generic square placeholder image with rounded corners in a figure.">
                    <figcaption class="figure-caption text-center">Launch of an FPV drone.</figcaption>
                </figure>

                <p>The military uses FPV drones as kamikaze drones, installing various warheads on them. One more use case is dropping munition on the enemy with the help of an FPV drone, after which the drone returns. Such drones are actively used during Russia’s war against Ukraine. In the right hands, FPV kamikaze drones are precision weapons that are capable of striking various armored vehicles and destroying enemy manpower.</p>
                
                <p>Drones can carry ammunition of different types and varied weights, fly into trenches and windows of buildings, and in addition, they are capable of falling into hatches and doors of enemy equipment. Such drones make it possible to strike enemy targets at distances of up to 10 and possibly more kilometers.
                </p>
                <h3 class="pb-3 mb-4 font-italic border-bottom">
                
                </h3>
                <h3>War with Russia</h3>
                
                <p>The Ukrainian military has been actively using FPV drones almost from the very beginning of a Russian full-scale invasion. These drones are operated by various units of the Armed Forces of Ukraine: the National Guard, the Security Services, the Special Operations Forces, the Defense Intelligence, etc. Usually, the military operates in small groups, consisting of operators and their assistants. Sometimes FPV kamikaze drones or drones with an ejection function act in tandem with reconnaissance copters. This provides greater application efficiency and situational awareness for operators.</p>
                
                <figure class="figure">
                    <img src="/media/samples/fpv_2.jpeg" class="figure-img img-fluid rounded custom-figure" width="900" height="200" alt="A generic square placeholder image with rounded corners in a figure.">
                    <figcaption class="figure-caption text-center">FPV drones.</figcaption>
                </figure>
            
                <p>In 2022, various volunteer initiatives in Ukraine began to massively assemble and purchase ready-made drones for the needs of the military, and then private enterprises joined this process.</p>
            
            
            
            
            </div>

            

            <div class="blog-post">
                <h2 class="blog-post-title">Another blog post</h2>
                <p class="blog-post-meta">December 23, 2013 by <a href="#">Jacob</a></p>

                <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
                <blockquote>
                <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </blockquote>
                <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
                <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
            </div><!-- /.blog-post -->

            <div class="blog-post">
                <h2 class="blog-post-title">New feature</h2>
                <p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p>

                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <ul>
                <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
                <li>Donec id elit non mi porta gravida at eget metus.</li>
                <li>Nulla vitae elit libero, a pharetra augue.</li>
                </ul>
                <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
                <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
            </div><!-- /.blog-post -->

            <div class="cards-conteiner">
                <div class="row mb-2">
                    <div class="col-md-6">
                    <div class="card flex-md-row mb-4 box-shadow h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-primary">World</strong>
                        <h3 class="mb-0">
                            <a class="text-dark" href="#">Featured post</a>
                        </h3>
                        <div class="mb-1 text-muted">Nov 12</div>
                        <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                        <a href="#">Continue reading</a>
                        </div>
                        <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18ed9334917%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18ed9334917%22%3E%3Crect%20width%3D%22200%22%20height%3D%22250%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2256.1953125%22%20y%3D%22131%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
                    </div>
                    </div>
                    <div class="col-md-6">
                    <div class="card flex-md-row mb-4 box-shadow h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-success">Design</strong>
                        <h3 class="mb-0">
                            <a class="text-dark" href="#">Post title</a>
                        </h3>
                        <div class="mb-1 text-muted">Nov 11</div>
                        <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                        <a href="#">Continue reading</a>
                        </div>
                        <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18ed9334918%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18ed9334918%22%3E%3Crect%20width%3D%22200%22%20height%3D%22250%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2256.1953125%22%20y%3D%22131%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
                    </div>
                    </div>
                </div>
            </div>

            <nav class="blog-pagination">
                <a class="btn btn-outline-primary" href="#">Older</a>
                <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
            </nav>

            </div><!-- /.blog-main -->

            <aside class="col-md-4 blog-sidebar">
            <div class="p-3 mb-3 bg-light rounded">
                <h4 class="font-italic">About</h4>
                <p class="mb-0">Let's consider what is the peculiarity of FPV drones and their combat capabilities for defeating equipment and manpower.</p>
            </div>

            <div class="p-3">
                <h4 class="font-italic">Archives</h4>
                <ol class="list-unstyled mb-0">
                <li><a href="#">March 2014</a></li>
                <li><a href="#">February 2014</a></li>
                <li><a href="#">January 2014</a></li>
                <li><a href="#">December 2013</a></li>
                <li><a href="#">November 2013</a></li>
                <li><a href="#">October 2013</a></li>
                <li><a href="#">September 2013</a></li>
                <li><a href="#">August 2013</a></li>
                <li><a href="#">July 2013</a></li>
                <li><a href="#">June 2013</a></li>
                <li><a href="#">May 2013</a></li>
                <li><a href="#">April 2013</a></li>
                </ol>
            </div>

            <div class="p-3">
                <h4 class="font-italic">Elsewhere</h4>
                <ol class="list-unstyled">
                <li><a href="#">GitHub</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Facebook</a></li>
                </ol>
            </div>
            </aside><!-- /.blog-sidebar -->

        </div><!-- /.row -->

        </main><!-- /.container -->

        <footer class="blog-footer">
        <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        <p>
            <a href="#">Back to top</a>
        </p>
        </footer>

        
    

        <svg xmlns="http://www.w3.org/2000/svg" width="200" height="250" viewBox="0 0 200 250" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="13" style="font-weight:bold;font-size:13pt;font-family:Arial, Helvetica, Open Sans, sans-serif">Thumbnail</text></svg>
    </div>

</div>
</body>
{% endblock %}