{% extends "main/base.html" %}

{% block extra_css %}
    <style>
        .login-container {
            margin: 50px auto;
            max-width: 400px;
            padding: 30px;
            border-radius: 10px;
            background-color: #f9f9f9;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: box-shadow 0.3s ease;
            margin-top: 140px;
            
        }
        .login-container:hover {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }
        .login-form .form-group {
            margin-bottom: 20px;
        }
        .login-form label {
            display: block;
            font-weight: bold;
            margin-bottom: 10px;
            color: #333;
        }
        .login-form input[type="text"],
        .login-form input[type="password"] {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            font-size: 16px;
            color: #666;
        }
        .login-form input[type="text"]:focus,
        .login-form input[type="password"]:focus {
            border-color: #75805f;
            outline: none;
        }
        .login-form .btn-primary {
            width: 100%;
            padding: 12px;
            border: none;
            border-radius: 5px;
            background-color: #757f5f;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
        }
        .login-form .btn-primary:hover {
            background-color: #525A43;
        }
        .signup-link {
            margin-top: 15px;
            text-align: center;
            color: #666;
        }
        .signup-link a {
            color: #75805f;
            text-decoration: none;
        }
        .signup-link a:hover {
            text-decoration: underline;
        }
        footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px 0;
            
        }
    </style>
{% endblock %}

{% block content %}

    <div class="login-container">
        <form method="POST" class="login-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_username">Нікнейм:</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="id_password">Пароль:</label>
                {{ form.password }}
            </div>
            {% if form.non_field_errors %}
            <div class="error-message" style="color: #75805f;">{{ form.non_field_errors.0 }}</div>
            {% endif %}
            <button type="submit" class="btn btn-primary">Ввійти</button>
            <p class="signup-link">Не маєте аккаунта? <a href="{% url 'signup' %}">Створіть </a></p>
        </form>
    </div>

{% endblock %}
