{% extends "main/base.html" %}


{% block extra_css %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<style>
    body {
        background: linear-gradient(to bottom, #222222, #e5e5e6) !important;
        font-family: 'Montserrat', sans-serif;
        margin: 0;
    }
    
    .signup-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    
    .signup-form {
        max-width: 400px;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        margin-right: 20px;
    }
    
    .form-group {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column; /* Вирівнювання елементів у вертикальному напрямку */
    }

    .form-group label {
        margin-bottom: 5px; /* Додатковий відступ між лейблом і полем вводу */
    }
    
    .form-group input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        width: 300px;
    }
    
    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }
    
    .login-link {
        margin-top: 15px;
    }
    
    .logo-container {
        flex-shrink: 0;
    }
    
    .logo {
        height: 100%;
        width: auto;
        border-radius: 10px;
    }
    
</style>

{% endblock %}

{% block content %}

    <div class="signup-container">
        <form method="POST" class="signup-form">
            {% csrf_token %}
           
            <div class="form-group">
                <label for="id_username">Username:</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="id_password1">Password:</label>
                {{ form.password1 }}
            </div>
            <div class="form-group">
                <label for="id_password2">Confirm Password:</label>
                {{ form.password2 }}
            </div>
            <button type="submit" class="btn btn-primary">Signup</button>
            <p class="login-link">Already have an account? <a href="{% url 'login' %}">Login</a></p>
        </form>
        <div class="logo-container">
            <img src="/media/samples/ps_ico.ico" alt="Logo" class="logo">
        </div>
    </div>


{% endblock %}

