{% extends 'main/base_eng.html' %}


{% block extra_css %}
<style>

    iframe {
        aspect-ratio: 16 / 9;
        width: 100% !important;
    }
    
    /* Ваші стилі для форми логіну */
    .article-container {
        
        margin-top: 100px;
        
    }

    /* Ваші стилі для форми логіну */
    .content-container {
        
        margin-top: 10px;
        
    }

    /* Ваші стилі для форми логіну */
    .cards-conteiner {
        
        margin-top: 10px;
        
    }

    .jumbotron {
        background: linear-gradient(to right, #000000, #6ff581); /* Градієнт від чорного до темно-сірого */
    }

    .body {
        background-color: #fff;
    }
</style>

{% endblock %}

{% block content %}
<body>
    

<div class="article-container">

    <div class="container">

        <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
            <div class="row">
                <div class="col-md-6 px-0">
                    <h1 class="display-4 font-italic">How to choose a turnstile.</h1>
                    <p class="lead my-3">Which turnstile to choose? How many turnstiles to take with you? How to properly apply and is it possible to loosen the tourniquet? In this article, we will consider the main aspects of choosing, using and adjusting turnstiles for various situations and needs.</p>
                </div>
                <div class="col-md-6 d-flex justify-content-center align-items-center">
                    <img src="/media/samples/pf_logo_bg.png" alt="Логотип" style="height: 400px;">
                </div>
            </div>
        </div>
        
        
        
        
        

        

        <main role="main" class="content-container">
        <div class="row">
            <div class="col-md-8 blog-main">
            <h3 class="pb-3 mb-4 font-italic border-bottom">
                
            </h3>

            

            

            <div class="blog-post">  
                <p class="blog-post-meta">May 12. Author:<a href="https://www.linkedin.com/in/danylo-petrusenko-73b872208/"> decadent</a></p>
                <h2 class="blog-post-title">Which turnstile to choose</h2>
                

                <p>The combat classic is a CAT tourniquet of the sixth or seventh generation. It is better to have it and never need it, than not to have it at hand in a critical situation.</p>
                
                
                
                

                <p>A Ukrainian-made turnstile "Sich" can also be a good option. All accessories on it are metal. No plastic was used in production. Nothing breaks, cracks, and the sling, accordingly, does not loosen.</p>
                 <p>A good choice is the SAM XT tourniquet, which has holes on the sling for additional fixation. According to the belt principle.</p>
                
                <figure class="figure" >
                    <img src="https://paramedic.ua/image/catalog/tovars/newww/sarrr/nf-00002231(2).jpg" class="figure-img img-fluid rounded custom-figure" width="900" height="200" alt="A generic square placeholder image with rounded corners in a figure.">
                    <figcaption class="figure-caption text-center">A view of the SAM XT turnstile.</figcaption>
                </figure>
                <hr>
                <h2 class="blog-post-title">The turnstile is in a fixed place</h2>

                
                <p>It is better when all fighters of the unit wear a tourniquet in one fixed place. Let's say, on the plate carrier on the left. It can be in a special summary or fixed with buckles, but everyone has the same one. If a fighter is wounded and he cannot apply a tourniquet himself, his comrades will not waste time searching, but will immediately know exactly where this thing is.</p>
                
                <figure class="figure">
                    <img src="https://militarist.ua/upload/medialibrary/91d/b4rz1p5udx5yb3l952zhs7q343o6ibug.jpg" class="figure-img img-fluid rounded custom-figure" width="900" height="200" alt="A generic square placeholder image with rounded corners in a figure.">
                    <figcaption class="figure-caption text-center">An example of the place of wearing a tourniquet on equipment.</figcaption>
                </figure>
                <hr>


                <h2 class="blog-post-title">How many turnstiles to take with you?</h2>




                
                
                <p>A fighter should have four turnstiles: two for himself, one for a friend and one more - this is the one "that will definitely get lost".</p>
                
                <p>Of course, this is an ideal option. It is advisable to have at least two: one is in its fixed place, as mentioned above, and another is in the first aid kit.</p>

                <p>It should be remembered that when there is a "fun" in the positions, the turnstiles fly like hotcakes. There will be no extras there.</p>

                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/6TnrdQLmDXk" width="730" height="310" > </iframe>
                </div>
                <hr>
                
                <h2 class="blog-post-title">Can the turnstile be loosened?</h2>
                 <p>It is not possible to loosen the imposed tourniquet even for a short time.</p>
                 <p>First, if you let go of the slings, there is a risk of losing an artery. Anatomically, an artery has a layer of tissue that can contract. If the tourniquet is applied, we hold this artery. If loosened, the artery can literally slip out from under the sling and move several centimeters up. For example, if the tourniquet was applied high on the thigh, then this artery can go almost into the groin area. It will be extremely difficult to close it again.</p>
                 <p>Secondly, and this is obvious, when the tourniquet is loosened, bleeding resumes. The loss of a new portion of blood can be critical. Let it be at least 50 ml, but this amount can be important for the heart to continue its work. </p>
                 <p>Thirdly, let's not forget that the turnstile works like a water tap. Blocks blood flow. All this time, the tissues below the tourniquet do not receive blood, and without it, they do not receive oxygen. These tissues are already experiencing oxygen starvation. One way or another, within an hour or two, the process of necrosis begins there, that is, dying. Letting the turnstile go for a few seconds won't help. The cells will receive oxygen for a short time, but it will still not be possible to save them.</p>
                 <hr>
                
                
                 <h2 class="blog-post-title">Maximum high or above the wound?</h2>
                 <p>"Help under fire" is a situation where you are under fire. There is no possibility to properly assess the situation and understand the nature of the injury and even determine the exact place where the injury occurred. Therefore, the tourniquet is placed on the clothes, as high and tight as possible. The only thing required is to check whether there are no foreign objects under the clothes: glasses, packs of cigarettes, documents, etc.</p>
                
                <figure class="figure">
                    <img src="https://www.timeforrescue.com.ua/wp-content/uploads/2023/08/1.jpg" class="figure-img img-fluid rounded custom-figure" width="900" height="200" alt="A generic square placeholder image with rounded corners in a figure.">
                    <figcaption class="figure-caption text-center">The process of applying a turnstile with your own hands.</figcaption>
                </figure>
                <p>When the fire has stopped, then you should already cut the clothes of the wounded with scissors (which should also be in the first-aid kit of every soldier) and visually identify the wounds. Find out where it is. And after that, you can apply the tourniquet not "as high as possible", but 5-7 cm above the wound. </p>
                 <p>For example, if a person has an injured foot, it is not advisable to put a tourniquet on the thigh. We apply it approximately to the middle of the lower leg. </p>
                 <p>I would like to mention that, contrary to myths, the tourniquet works if you put it on "two bones". Therefore, it can be applied both on the lower leg and on the forearm. It's not that difficult to check. It is quite simple to check your pulse by putting it on yourself for an experiment. </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/aqgoLkkb_eY" width="730" height="310" > </iframe>
                </div>
                
                <p>Do not forget that tactical medicine is no less important than, say, fire training. Train constantly!</p>
                

                <hr>
                
                
            





                
                <p></p>
                <p></p>
                <p></p>


            </div>




            




            

            <div class="blog-post">
                

            
                <div class="cards-conteiner">
                    <div class="row mb-2">
                        <div class="col-md-6">
                            <div class="card" style="width: 20rem; margin-bottom: 10px;" >
                                <img src="https://www.5.ua/media/pictures/original/250454.jpg?t=1655031175" class="card-img-top" style="height: 160px;" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Take a short course in tactical medicine. You will quickly be taught how to apply a tourniquet under difficult conditions.</p>
                                    <a class="btn btn-primary" style="width: 100px;" href="#">Перейти</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card" style="width: 20rem;">
                                <img src="https://i.ibb.co/xSbs9gh/image-2023-11-24-T154048-726.png" class="card-img-top" style="height: 160px;" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Join the tourniquet installation training. Practice your skills with a team of specialists.</p>
                                    <a class="btn btn-primary" style="width: 100px;" href="#">Перейти</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                

            <nav class="blog-pagination" style="margin-top: 30px;">
                <a class="btn btn-primary" href="#">Previous</a>
                <a class="btn btn-primary" href="#">Next</a>
            </nav>

            </div><!-- /.blog-main -->

            

        </div><!-- /.row -->


        <aside class="col-md-4 blog-sidebar">
            <div class="p-3 mb-3 bg-light rounded">
                <h4 class="font-italic">Disclaimer</h4>
                <p class="mb-0">Let's share tips on choosing and features of using a turnstile.</p>
            </div>

            <div class="p-3">
                <h4 class="font-italic">Архів</h4>
                <ol class="list-unstyled mb-0">
                    <li><a href="#">March 2014</a></li>
                     <li><a href="#">February 2014</a></li>
                     <li><a href="#">January 2014</a></li>
                     <li><a href="#">December 2013</a></li>
                     <li><a href="#">November 2013</a></li>
                     <li><a href="#">October 2013</a></li>
                     <li><a href="#">September 2013</a></li>
                     <li><a href="#">August 2013</a></li>
                     <li><a href="#">July 2013</a></li>
                     <li><a href="#">June 2013</a></li>
                     <li><a href="#">May 2013</a></li>
                     <li><a href="#">April 2013</a></li>
                </ol>
            </div>

            <div class="p-3">
                <h4 class="font-italic">Follow us on:</h4>
                <ol class="list-unstyled">
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Facebook</a></li>
                </ol>
            </div>
            </aside><!-- /.blog-sidebar -->
        </main><!-- /.container -->

        <footer class="blog-footer">
        
        <p>
            
        </p>
        </footer>

        
    

        <svg xmlns="http://www.w3.org/2000/svg" width="200" height="250" viewBox="0 0 200 250" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="13" style="font-weight:bold;font-size:13pt;font-family:Arial, Helvetica, Open Sans, sans-serif">Thumbnail</text></svg>
    </div>

</div>
</body>
{% endblock %}