{% extends 'main/base.html' %}


{% block extra_css %}
<style>

    iframe {
        aspect-ratio: 16 / 9;
        width: 100% !important;
    }
    
    /* Ваші стилі для форми логіну */
    .article-container {
        
        margin-top: 100px;
        
    }

    /* Ваші стилі для форми логіну */
    .content-container {
        
        margin-top: 10px;
        
    }

    /* Ваші стилі для форми логіну */
    .cards-conteiner {
        
        margin-top: 10px;
        
    }

    .jumbotron {
        background: linear-gradient(to right, #000000, #6ff581); /* Градієнт від чорного до темно-сірого */
    }

    .body {
        background-color: #fff;
    }
</style>

{% endblock %}

{% block content %}
<body>
    

<div class="article-container">

    <div class="container">

        <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
            <div class="row">
                <div class="col-md-6 px-0">
                    <h1 class="display-4 font-italic">Як обрати турнікет.</h1>
                    <p class="lead my-3">Який турнікет обрати? Скільки турнікетів брати з собою? Як правильно накладати та чи можна послабити турнікет? У цій статті розглянемо основні аспекти вибору, використання та можливість регулювання турнікетів для різноманітних ситуацій та потреб.</p>
                </div>
                <div class="col-md-6 d-flex justify-content-center align-items-center">
                    <img src="/media/samples/pf_logo_bg.png" alt="Логотип" style="height: 400px;">
                </div>
            </div>
        </div>
        
        
        
        
        

        

        <main role="main" class="content-container">
        <div class="row">
            <div class="col-md-8 blog-main">
            <h3 class="pb-3 mb-4 font-italic border-bottom">
                
            </h3>

            

            

            <div class="blog-post">  
                <p class="blog-post-meta">12 Травня. Автор: <a href="https://www.linkedin.com/in/danylo-petrusenko-73b872208/"> decadent</a></p>
                <h2 class="blog-post-title">Який турнікет обрати</h2>
                

                <p>Бойова класика – це турнікет CAT шостої або сьомої генерації. Краще хай він буде і ніколи не знадобиться, ніж у критичній ситуації його не виявиться під рукою.</p>
                
                
                
                

                <p>Хорошим варіантом може бути також турнікет українського виробництва «Січ». Вся фурнітура на ньому металева. Жодного пластику в виробництві не застосовували. Ніщо там не ламається, не тріскає і стропа, відповідно, не попускається.</p>
                <p>Непоганий вибір – турнікет SAM XT, який має отвори на стропі для додаткової фіксації. За принципом ременя.</p>
                
                <figure class="figure" >
                    <img src="https://paramedic.ua/image/catalog/tovars/newww/sarrr/nf-00002231(2).jpg" class="figure-img img-fluid rounded custom-figure" width="900" height="200" alt="A generic square placeholder image with rounded corners in a figure.">
                    <figcaption class="figure-caption text-center">Вигляд турнікету SAM XT.</figcaption>
                </figure>
                <hr>
                <h2 class="blog-post-title">Турнікет на фіксованому місці</h2>

                
                <p>Краще, коли всі бійці підрозділу носять турнікет на одному фіксованому місці. Скажімо, на плитоносці зліва. Він може бути в спеціальному підсумку або зафіксований пряжками, проте у кожного там само. Якщо бійця поранять, і сам він не зможе накласти собі турнікет, його побратими не витрачатимуть час на пошуки, а відразу точно знатимуть, де ця річ знаходиться.                </p>
                
                <figure class="figure">
                    <img src="https://militarist.ua/upload/medialibrary/91d/b4rz1p5udx5yb3l952zhs7q343o6ibug.jpg" class="figure-img img-fluid rounded custom-figure" width="900" height="200" alt="A generic square placeholder image with rounded corners in a figure.">
                    <figcaption class="figure-caption text-center">Приклад місця носіння турнікету на екіпіруванні.</figcaption>
                </figure>
                <hr>


                <h2 class="blog-post-title">Скільки турнікетів брати з собою?</h2>




                
                
                <p>У бійця має бути чотири турнікети: два для себе, один для друга і ще один – це той, «що точно загубиться».</p>
                
                <p>Звісно, це ідеальний варіант. Бажано мати хоча б два: один знаходиться на своєму фіксованому місці, як було сказано вище, ще один – на аптечці.</p>

                <p>Треба пам`ятати, що коли на позиціях настає «веселуха», турнікети розлітаються, як гарячі пиріжки. Зайвих там не буде.</p>

                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/6TnrdQLmDXk" width="730" height="310" > </iframe>
                </div>
                <hr>
                
                <h2 class="blog-post-title">Чи можна послабити турнікет?</h2>
                <p>Послаблювати накладений турнікет навіть на короткий час не можна.</p>
                <p>По-перше, якщо відпустити стропи, з`являється ризик втратити артерію. Анатомічно артерія має прошарок тканини, яка може скорочуватись. Якщо турнікет накладений, ми цю артерію тримаємо. Якщо послабити, артерія може буквально вислизнути з-під стропи і відійти на кілька сантиметрів угору. Наприклад, якщо турнікет було накладено високо на стегно, то ця артерія може відійти майже в пахову ділянку. Знову її перекрити буде вкрай складно.</p>
                <p>По-друге, і це очевидно, при послабленні турнікета, відновлюється кровотеча. Втрата нової порції крові може бути критичною. Нехай це буде хоча б 50 мл, але ця кількість може бути важливою для того, щоб серце продовжувало свою роботу.                </p>
                <p>По-третє, не забуваймо, що турнікет працює, як водопровідний кран. Перекриває потік крові. Увесь цей час, тканини, що знаходяться нижче турнікета, не отримують кров, а без неї – не отримують кисень. Ці тканини вже переживають кисневий голод. Так чи інакше, за годину-другу там розпочинається процес некрозу, тобто відмирання. Попустивши на кілька секунд турнікет, ви цьому не зарадите. Клітини на короткий час отримають кисень, але врятувати їх все одно не вдасться.</p>
                <hr>
                
                
                <h2 class="blog-post-title">Максимально високо чи над раною?</h2>
                <p>«Допомога під вогнем» — це ситуація, коли ви знаходитесь під обстрілом. Можливості як слід оцінити ситуацію і розібратися в характері поранення та навіть визначити точно місце, куди поранено, немає. Тому турнікет накладають на одяг, максимально високо і щільно. Єдине, що вимагається – перевірити, чи немає під одягом сторонніх предметів: окулярів, пачки цигарок, документів тощо.</p>
                
                <figure class="figure">
                    <img src="https://www.timeforrescue.com.ua/wp-content/uploads/2023/08/1.jpg" class="figure-img img-fluid rounded custom-figure" width="900" height="200" alt="A generic square placeholder image with rounded corners in a figure.">
                    <figcaption class="figure-caption text-center">Процес накладання турнікету власноруч.</figcaption>
                </figure>
                <p>Коли вогонь припинився, тоді вже слід розрізати одяг пораненого ножицями (які також мають бути в аптечці кожного бійця) і візуально ідентифікувати поранення. З`ясувати де воно. І вже після цього можна накласти турнікет не «максимально високо», а на 5-7 см вище рани.                </p>
                <p>Приміром, якщо в людини поранено стопу, то недоцільно накладати турнікет на стегно. Ми накладаємо його приблизно на середину гомілки.                </p>
                <p>Принагідно зазначу, що всупереч міфам, турнікет працює, якщо накласти його на «дві кістки». Тому накладати можна і на гомілку, і на передпліччя. Перевірити це не так складно. Достатньо просто, наклавши його собі для експерименту, перевірити пульс.                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/aqgoLkkb_eY" width="730" height="310" > </iframe>
                </div>
                
                <p>Не забувайте, що тактична медицина не менш важлива, ніж, скажімо, вогнева підготовка. Тренуйтесь постійно!</p>
                

                <hr>
                
                
            





                
                <p></p>
                <p></p>
                <p></p>


            </div>




            




            

            <div class="blog-post">
                

            
                <div class="cards-conteiner">
                    <div class="row mb-2">
                        <div class="col-md-6">
                            <div class="card" style="width: 20rem; margin-bottom: 10px;" >
                                <img src="https://www.5.ua/media/pictures/original/250454.jpg?t=1655031175" class="card-img-top" style="height: 160px;" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Пройдіть короткий курс по тактичній медицині. Вас швидко навчать як накладати турнікет за складних умов.</p>
                                    <a class="btn btn-primary" style="width: 100px;" href="#">Перейти</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card" style="width: 20rem;">
                                <img src="https://i.ibb.co/xSbs9gh/image-2023-11-24-T154048-726.png" class="card-img-top" style="height: 160px;" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Долучайся до тренінгу з накладання турнікетів. Разом з командою спеціалістів на практиці відкорегуйте навички.</p>
                                    <a class="btn btn-primary" style="width: 100px;" href="#">Перейти</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                

            <nav class="blog-pagination" style="margin-top: 30px;">
                <a class="btn btn-primary" href="#">До попередньої</a>
                <a class="btn btn-primary" href="#">Наступна</a>
            </nav>

            </div><!-- /.blog-main -->

            

        </div><!-- /.row -->


        <aside class="col-md-4 blog-sidebar">
            <div class="p-3 mb-3 bg-light rounded">
                <h4 class="font-italic">Дисклеймер</h4>
                <p class="mb-0">Поділимось порадами щодо вибору та особливостей застосування турнікета.</p>
            </div>

            <div class="p-3">
                <h4 class="font-italic">Архів</h4>
                <ol class="list-unstyled mb-0">
                    <li><a href="#">Березень 2014</a></li>
                    <li><a href="#">Лютий 2014</a></li>
                    <li><a href="#">Січень 2014</a></li>
                    <li><a href="#">Грудень 2013</a></li>
                    <li><a href="#">Листопад 2013</a></li>
                    <li><a href="#">Жовтень 2013</a></li>
                    <li><a href="#">Вересень 2013</a></li>
                    <li><a href="#">Серпень 2013</a></li>
                    <li><a href="#">Липень 2013</a></li>
                    <li><a href="#">Червень 2013</a></li>
                    <li><a href="#">Травень 2013</a></li>
                    <li><a href="#">Квітень 2013</a></li>
                </ol>
            </div>

            <div class="p-3">
                <h4 class="font-italic">Шукайте нас</h4>
                <ol class="list-unstyled">
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Facebook</a></li>
                </ol>
            </div>
            </aside><!-- /.blog-sidebar -->
        </main><!-- /.container -->

        <footer class="blog-footer">
        
        <p>
            
        </p>
        </footer>

        
    

        <svg xmlns="http://www.w3.org/2000/svg" width="200" height="250" viewBox="0 0 200 250" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="13" style="font-weight:bold;font-size:13pt;font-family:Arial, Helvetica, Open Sans, sans-serif">Thumbnail</text></svg>
    </div>

</div>
</body>
{% endblock %}