{% extends "main/base.html" %}

{% block extra_css %}

<style>
  

  #topic-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: auto;
    width: 50%;
    margin-top: 120px;
    
  }

  #topic-list {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  #question-form {
    padding: 20px;
    margin-bottom: 20px;
  }

  .option{
    border-radius: 10px;
  }

  .option input[type="radio"] {
    display: none; /* Hide the radio button */
  }

  .option label {
    display: block;
    padding: 10px 20px;
    background-color: #eeeeee;
    border-radius: 5px;
    margin: 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .option label:hover {
    background-color: #c9c9c9;
  }

  .option input[type="radio"]:checked + label {
    background-color: #818181;
    color: #fff;
  }

  #heading-text {
    text-align: center;
    margin-bottom: 25px;
  }

  /* Стилі для футера */
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    
  }
  
</style>
{% endblock %}

{% block content %}
  <meta charset="UTF-8">
  <title>Пройти спеціалізовану тематичну перевірку на знання</title>
  <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
  
<form id="topic-container" hx-post="{% url 'get-questions' %}/start" class="container">
  {% csrf_token %}
  <h2 id="heading-text" class="text-center">
    Перевірте себе!
  </h2>
  <div id="topic-list" class="text-center">
    <p>Оберіть бажану тему для перевірки:</p>
    <ol class="list-unstyled">
      {% for topic in topics %}
      <li class="option">
        <div class="form-check">
          <input class="form-check-input" type="radio" id="topic-{{ forloop.counter0 }}" value="{{ topic.id }}" name="quiz_id" required>
          <label class="form-check-label" for="topic-{{ forloop.counter0 }}">{{ topic.name }} ({{ topic.questions_count }} questions)</label>
        </div>
      </li>
      {% endfor %}
      {% if not topics %}
      <li>Нема доступних тестів. Завітайте пізніше.</li>
      {% endif %}
    </ol>
    <div class="text-center">
      <button class="btn btn-outline-dark py-3 px-4 rounded-pill" type="submit">Почати перевірку -></button>
    </div>
  </div>
</form>
{% endblock %}